.register-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.input-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.input {
    margin: 10px;
    padding: 10px;
    width: 150px;
    border-radius: 8px;
    border: 1px solid #ccc;
}