.game {
    perspective: 7000px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-button-input {
    padding: 1px 1px;
    background-color: #fff;
    border: black 1px solid;
    cursor: pointer;
    border-radius: 7px;
    width: 15%;
    height: 25px;
    margin: 20;
    
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100%;
}

.home-button {
    padding: 1px 1px;
    background-color: #fff;
    border: black 1px solid;
    cursor: pointer;
    border-radius: 7px;
    width: 15%;
    height: 25px;
    margin: 10;
}

.game-board {
    width: 100%;
    height: 100%;
    position: relative;
    perspective: 7000px;
}

.cube-container .game-board {
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
}

.cube__face {
    width: 200px;
    height: 200px;
    position: absolute;
}

.cube__face--front {
    transform:translateZ(100px);
}

.cube__face--right {
    transform: rotateY(90deg) translateZ(100px);
}

.cube__face--back {
    transform: rotateY(180deg) translateZ(100px);
}

.cube__face--left {
    transform: rotateY(-90deg) translateZ(100px);
}

.cube__face--top {
    transform: rotateX(90deg) translateZ(100px);
}

.cube__face--bottom {
    transform: rotateX(-90deg) translateZ(100px);
}

.board-row {
    display: flex;
    justify-content: space-around;
}

.square {
    width: 60px;
    height: 60px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    border: solid 3px #000000;
}

button {
    margin: 3px 0;
    padding: 10px 20px;
    background-color: #fff;
    border: black 1px solid;
    cursor: pointer;
    border-radius: 7px;
}

button:hover {
    background-color: #ddd;
}

.status {
    font-size: 17px;
    border-bottom: solid 3px #000000;
    padding: 8px;
    margin-bottom: 10px;
}

.description-button {
    padding: 1px 1px;
    background-color: #fff;
    border: black 1px solid;
    cursor: pointer;
    border-radius: 7px;
    width: 100%;
    height: 25px;
    margin: 0;
}

.game-info {
    background-color: transparent;
    height: 38%;
    justify-content: center;
    align-items: center;
    margin-left: 70px;
}

.bomb-button {
    padding: 1px 1px;
    background-color: #fff;
    border: black 1px solid;
    cursor: pointer;
    margin-left: 20px;
    border-radius: 7px;
    width: 7%;
    height: 25px;
    margin: 0;
}

.status {
    font-size: 17px;
    border-bottom: solid 3px #000000;
    padding: 8px;
    margin-bottom: 500px;
    width: 150px;
}