.header-button {
    padding: 1px 1px;
    background-color: transparent;
    cursor: pointer;
    height: 25px; 
    margin: 0; 
    border: none;
    color: #fff;
    font-size: 18px;
}
.header-button:hover {
    background-color: transparent; 
}

.title-button {
    padding: 1px 1px;
    background-color: transparent;
    cursor: pointer;
    height: 25px; 
    margin: 0; 
    border: none;
    color: #fff;
    font-size: 30px;
}

.title-button:hover {
    background-color: transparent; 
}
.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
    background: linear-gradient(90deg, #355C7D, #C06C84);
    color: #fff;
    font-size: 20px;
    padding: 0 20px;
}