.leaderboard-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leaderboard-table table {
    width: 100%;
    border-collapse: collapse;
}

.leaderboard-table th, .leaderboard-table td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
    width: 20%;
}
