body {
  font: 14px "Century Gothic", Futura, sans-serif;
  color: #fff;
  background-color: #c5dfc8;
  background: linear-gradient(90deg, #355C7D, #C06C84);
  margin: 0;
  padding: 0;
  height: 100vh;

 }
