.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20vh;
  height: 30vh;
  margin: 5px;
  border: 1px solid #000000;
  border-width: 3px;
  padding: 10px;
}
.profile-text {
  border-bottom: 1px solid #000000;
  border-width: 3px;
}